/StockManagement/nbproject/
/StockManagement/build/
/StockManagement/dist/
/StockManagement/src/database/DriverManagerConnectionPool.java
/StockManagement/DATA/
/StockManagementslib/nbproject/
/StockManagementslib/build/
/StockManagementslib/dist/
/StockManagementslib/DATA/
/Config-stock-management/build/
/Config-stock-management/dist/
/Config-stock-management/DATA/
